* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 16px;
    background: transparent;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 100%;
    max-width: 400px; /* Limits the width */
    margin: auto; /* Center horizontally and add top margin */
    padding: 20px; /* Adds spacing inside */
    background-color: #f9f9f9; /* Light background */
    /* border-radius: 30px;  */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */

  }

textarea {
  /* font-family: "Parkinsans", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
  resize: none;
  outline: none;
  border-radius: 0.5em;
  padding: 10px; */
  font-family: "Parkinsans", "Poppins", Helvetica, sans-serif;
  font-size: 16px;
  resize: none;
  border: 2px solid #ccc; /* Default border thickness */
  border-radius: 0.5em;
  outline: none; /* Removes default outline */
  padding: 10px;
  box-sizing: border-box; /* Ensures consistent sizing */
  transition: border 0.3s ease; /* Smooth transition */
  /* width: 100%;  */
}

textarea:focus {
  border-color: #89CFF0;
  border-width: 2px;
}


.save-container {
  display: flex; 
  gap: 1em;
  align-items: center;

}


/* button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: #ccc; 
  color: #666;
} */

button {
  font-family: "Poppins", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
  padding: 4px 6px;
  text-align: center;
  border: 2px solid #ccc;
  background-color: white;
  border-radius: 0.5em;
  box-shadow: 0 2px rgba(153, 153, 153, 0.3);
  width: 100%; 

  cursor: not-allowed;

}

button:enabled {
  color: black;
  cursor: pointer; /* Pointer cursor for enabled state */
  transition: color 0.3s ease; /* Smooth transition */
}

button:enabled:hover {
  background-color: #89CFF0;
}

button:enabled:active {
box-shadow: 0 0px rgba(153, 153, 153, 0.5);
transform: translateY(2px);
}



