* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    font-size: 16px;
    background: transparent;
    margin: 0;
    padding: 0;
}

.form-container {
    width: 100%;
    max-width: 400px; /* Limits the width */
    margin: auto; /* Center horizontally and add top margin */
    padding: 20px; /* Adds spacing inside */
    background-color: #f9f9f9; /* Light background */
    /* border-radius: 30px;  */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */

  }

.radio-group input[type="radio"] {
  display: none;
}

textarea {
  /* font-family: "Parkinsans", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
  resize: none;
  outline: none;
  border-radius: 0.5em;
  padding: 10px; */
  font-family: "Parkinsans", Arial, Helvetica, sans-serif, sans-serif;
  font-size: 16px;
  resize: none;
  border: 2px solid #ccc; /* Default border thickness */
  border-radius: 0.5em;
  outline: none; /* Removes default outline */
  padding: 10px;
  box-sizing: border-box; /* Ensures consistent sizing */
  transition: border 0.3s ease; /* Smooth transition */
  /* width: 100%;  */
}

textarea:focus {
  border-color: #89CFF0;
  border-width: 2px;
}


button {
  font-family: "Poppins", Arial, Helvetica, sans-serif, sans-serif;
}


